


input {
    width: 400px;
    height: 25px;
    margin: 10px;
    padding: 5px;
}

div {
    text-align: center;
}

button {
    border-radius: 30px;
    padding: 10px;
}

h1 {
    margin-top: 50px;
}

p {
    font-weight: bold;
}